<h1>Pousadas em <%=params[:city] %></h1>
<div>
  <%@active_inns_by_city.each do |inn|%>
    <dl>
      <dt>Nome: </dt>
      <%= link_to(inn) do %>
        <dd><%= inn.trade_name%></dd>
      <% end %>
    <% end %>
  </dl>
</div>
