<h1>Sua Avaliação da <%= @inn.trade_name %></h1>
<div>
  <dl>
    <dt>Nome do quarto:</dt>
    <dd><%= @room.name%></dd>
    <dt>Nota:</dt>
    <dd><%= @review.rating%></dd>
    <dt>Comentário:</dt>
    <dd><%= @review.comment%></dd>
  </dl>
</div>
